@use '../base/variaveis' as *;

.popup-hospital {
  h4 {
    margin: 0 0 6px 0;
  }

  p {
    margin: 2px 0;
    font-size: $tamanho-fonte;
  }
}

.icone-pino {
  background: transparent;
  display: flex;
}